@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.ui.container {
  margin-top: 5%;
}

.app-title {
  font-size: 3.7em;
  font-family: 'Lobster Two', serif;
  text-align: center;
  background-color: indianred;
  color: white;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  letter-spacing: 3px;
}

.column {
  margin-top: 5%;
}

.segment {
  width: 90%;
}

div.ui.inverted.segment {
  margin: 0 auto;
  margin-top: 3%;
}

.submit.button {
  display: flex;
  justify-content: center;
}
