@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.ui.container {
  margin-top: 3%;
}

.app-title {
  font-size: 3.7em;
  font-family: 'Lobster Two', serif;
  text-align: center;
  background-color: indianred;
  color: white;
  border-radius: 20px;
  width: 90%;
  letter-spacing: 3px;
  margin: 0 auto;
}

.ui.form {
  margin: 0 auto;
  margin-top: 3%;
  width: 90%;
}

.movie-card {
  height: 570px;
  margin: 20px 15px;
}

.image {
  height: 387px;
  margin-bottom: 40px;
}

.content {
  height: 133px;
  text-align: center;
}
